@use '../../assets/scss/mixins';

.navigation {
  display: flex;
  gap: 1px;
  &__item {
    > button {
      display: block;
      width: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      background-color: var(--button-bg, hsl(0 0% 85% / 75%));
      border: none;
      font-size: 0;
      transition: background-color 150ms ease-out, filter 150ms ease-out;
      border-radius: 2px;
      @include mixins.button-extends();
      @include mixins.background-blur(8px);
      --icon-color: hsl(0 0% 0% / 75%);
      --icon-stroke: 1.75;
      --icon-size: 20px;
      .icon {
        display: block;
        margin: 0 auto;
        &--settings,
        &--folder,
        &--grid {
          --icon-size: 18px;
        }
      }
      @include mixins.hover() {
        --button-bg: hsl(0 0% 80% / 90%);
      }
      &:active {
        filter: brightness(110%);
      }
      &.on {
        --button-bg: hsl(0 0% 80% / 90%);
      }
      &.active {
        --icon-color: hsl(0 0% 100% / 75%);
        --button-bg: var(--color-key);
      }
    }
  }
  @media (hover: hover) {
    .container--hover & {
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms ease-out;
    }
    .container--hover:hover & {
      opacity: unset;
      pointer-events: unset;
    }
  }
  @include mixins.dark-mode() {
    &__item {
      > button {
        --button-bg: hsl(0 0% 5% / 25%);
        --icon-color: hsl(0 0% 100% / 75%);
        @include mixins.hover() {
          --button-bg: hsl(0 0% 5% / 60%);
        }
        &.on {
          --button-bg: hsl(0 0% 5% / 60%);
        }
        &.active {
          --button-bg: hsl(var(--color-key-hsl) / 90%);
        }
      }
    }
  }
}

.navigation-context {
  position: relative;
  user-select: none;
  ul {
    position: absolute;
    right: 0;
    top: 1px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 170px;
    box-sizing: border-box;
    background: none;
    border-radius: 4px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-out;
    box-shadow: 0 2px 16px hsl(0 0% 0% / 15%), inset 0 0 0 1px hsl(0 0% 0% / 5%);
  }
  li {
    &:nth-child(n+2) {
      border-top: 1px solid hsl(0 0% 75% / 75%);
    }
  }
  button {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    border: none;
    text-align: left;
    background-color: var(--context-bg, hsl(0 0% 100% / 85%));
    color: var(--color-base);
    font-size: 14px;
    font-weight: 600;
    transition: background-color 200ms ease-out;
    @include mixins.background-blur(8px);
    @include mixins.button-extends();
    &:active {
      filter: brightness(90%);
    }
    @include mixins.hover() {
      --context-bg: hsl(0 0% 92% / 85%);
    }
    &.on {
      --context-bg: hsl(0 0% 92% / 75%);
    }
    &.active {
      color: var(--color-key);
      font-weight: 700;
    }
    &.danger {
      color: var(--color-danger);
      font-weight: 700;
    }
  }
  &--on {
    ul {
      pointer-events: auto;
      opacity: 1;
    }
  }
  @include mixins.dark-mode() {
    li {
      &:nth-child(n+2) {
        border-color: hsl(0 0% 15% / 75%);
      }
    }
    button {
      --context-bg: hsl(0 0% 5% / 60%);
      &:active {
        filter: brightness(120%);
      }
      @include mixins.hover() {
        --context-bg: hsl(0 0% 0% / 75%);
      }
      &.on {
        --context-bg: hsl(0 0% 0% / 75%);
      }
    }
  }
}
