@use '../../assets/scss/mixins';

.about {
  margin: 40px auto 80px;
  max-width: 800px;
  font-weight: 500;
  h1 {
    margin: 52px 0 32px;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -.5px;
    line-height: 1.15;
    text-align: center;
    font-family: var(--font-eng);
  }
  h2 {
    margin: 42px 0 16px;
    font-family: var(--font-eng);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -.75px;
  }
  h3 {
    margin: 36px 0 16px;
    font-family: var(--font-eng);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -.5px;
  }
  p {
    margin: 16px 0;
    line-height: 1.62;
    letter-spacing: -.5px;
    code {
      color: var(--color-key);
      font-weight: 600;
    }
  }
  figure {
    margin: 48px -24px 30px;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      border-radius: 2px;
      user-select: none;
    }
  }
  ul {
    margin: 16px 0;
    padding: 0 0 0 20px;
    li {
      margin: 2px 0;
    }
  }
  @include mixins.responsive(tablet) {
    margin: 60px auto 120px;
    h1 {
      margin: 64px 0 42px;
      font-size: 36px;
    }
    figure {
      margin-left: 0;
      margin-right: 0;
      img {
        max-width: 75%;
      }
    }
  }
}

.section-line {
  --line-size-a: 6px;
  --line-size-b: 10px;
  --line-color: hsl(0 0% 0% / 25%);
  margin: 72px 0;
  height: 1px;
  border: none;
  background-image:
    linear-gradient(to right, var(--line-color) var(--line-size-a), transparent 1px);
  background-size: var(--line-size-b) 30px;
  @include mixins.dark-mode() {
    --line-color: hsl(0 0% 100% / 30%);
  }
}
