header
  h1
    a(href="/") #{bodyTitle || title}
  nav
    h1 Navigation
    ul
      li
        a(href="/" target=target) Slides
      li
        a(href="/about/" target=target) About
      li
        a(href="https://redgoose.me" target="_blank") redgoose
