@use 'mixins';

.index {
  margin: 30px 0 60px;
  > h1 {
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  > ul {
    --size-column: 1;
    --size-side-padding: 20px;
    --size-gap: 30px;
    display: grid;
    gap: var(--size-gap);
    grid-template-columns: repeat(var(--size-column), 1fr);
    padding: 0 var(--size-side-padding);
  }
  &__paginate {
    margin-top: 40px;
    text-align: center;
  }

  @include mixins.responsive(tablet) {
    margin: 40px 0 60px;
    > ul {
      --size-column: 2;
      --size-side-padding: 60px;
      max-width: none;
    }
    &__paginate {
      margin-top: 60px;
    }
  }
  @include mixins.responsive(desktop) {
    margin: 40px 0 80px;
    > ul {
      --size-column: 3;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
  @include mixins.responsive(desktop-1280) {
    > ul {
      --size-column: 4;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}

// item
.index-item {
  --size-radius: 4px;
  min-width: 0;
  &__wrap {
    position: relative;
    display: block;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--size-radius);
    overflow: hidden;
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: var(--size-radius);
      transition: box-shadow 200ms ease-out;
      box-shadow: inset 0 0 0 0 var(--color-key);
      pointer-events: none;
    }
    &:hover {
      &:after {
        will-change: box-shadow;
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
    &:active {
      will-change: transform;
      transform: scale(.99);
      &:after {
        will-change: box-shadow;
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
    &:focus {
      &:after {
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
  }
  &__image {
    background: #ccc;
    aspect-ratio: 28/18;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
      user-select: none;
      aspect-ratio: 28/18;
    }
  }
  &__body {
    padding: 20px;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-fill);
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: -.15px;
    }
    p {
      --font-size: 12px;
      --line-height: 1.25;
      --height: calc((var(--font-size) * var(--line-height)) * 2);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: var(--line-height);
      max-height: var(--height);
      margin-top: 4px;
      font-size: 12px;
      color: #525252;
      word-wrap:break-word;
    }
  }
  @include mixins.responsive(tablet) {
    &__body {
      p {
        max-height: none;
        height: var(--height);
      }
    }
  }
}

// paginate
.paginate {
  --size-item: 40px;
  --size-active-inner: 1px;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 2px;
  > * {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-item);
    height: var(--size-item);
  }
  > a,
  > strong {
    position: relative;
    font-size: 14px;
    font-family: var(--font-eng);
    letter-spacing: -.25px;
  }
  > a {
    cursor: pointer;
    color: var(--color-fill);
    &:active {
      opacity: .5;
    }
  }
  > strong {
    position: relative;
    color: var(--color-bg);
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: var(--size-active-inner);
      right: var(--size-active-inner);
      top: var(--size-active-inner);
      bottom: var(--size-active-inner);
      z-index: -1;
      background: var(--color-key);
      border-radius: 50%;
    }
  }
  > a[title=Prev],
  > a[title=Next] {
    svg {
      display: block;
    }
  }
  &--mobile {
    display: flex;
  }
  &--desktop {
    display: none;
  }
  @include mixins.responsive(desktop) {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: flex;
    }
  }
}
