@use '../../../../../../assets/scss/mixin';

.manage-slide {
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 100%;
  background-color: var(--color-bg);
  box-sizing: border-box;
  &__body {
    overflow: auto;
  }
  &__bottom {
    margin: 40px 0 0;
    display: grid;
    place-content: center;
  }
  &__field-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
  }
  @include mixin.responsive(tablet) {
    width: 75vw;
    height: 75vh;
    max-width: 640px;
    max-height: 560px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 2px 16px hsl(0 0% 0% / 25%);
  }
}
