@use 'mixins';

.about {
  margin: 60px auto;
  max-width: 900px;
  p {
    margin: 16px 0;
    word-break: keep-all;
    text-align: justify;
    line-height: 1.52;
    code {
      color: var(--color-key);
      font-weight: 500;
    }
  }
  figure {
    margin: 50px 0 40px;
    img {
      display: block;
      margin: 0 auto;
      user-select: none;
      max-width: 100%;
      border-radius: 2px;
    }
  }
  h1 {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -.25px;
    line-height: 1.25;
  }
  h2 {
    margin: 50px 0 16px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25;
  }
  h3 {
    margin: 40px 0 16px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.25;
  }
  ul {
    margin: 16px 0;
    li {
      margin: 2px 0;
      &:before {
        content: '- ';
      }
    }
  }
  @include mixins.responsive(tablet) {
    figure {
      img {
        max-width: 75%;
      }
    }
  }
}
