@use 'mixins';

// index
.index {
  margin: 30px 0 60px;
  > h1 {
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  > ul {
    --size-column: 1;
    --size-gap: 30px;
    display: grid;
    gap: var(--size-gap);
    grid-template-columns: repeat(var(--size-column), 1fr);
    padding: 0;
  }
  &__paginate {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  @include mixins.responsive(tablet) {
    margin: 40px 0 60px;
    > ul {
      --size-column: 2;
      max-width: none;
    }
    &__paginate {
      margin-top: 60px;
    }
  }
  @include mixins.responsive(desktop) {
    margin: 40px 0 80px;
    > ul {
      --size-column: 3;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
  @include mixins.responsive(desktop-1280) {
    > ul {
      --size-column: 4;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}

// item
.index-item {
  --size-radius: 4px;
  min-width: 0;
  &__wrap {
    position: relative;
    display: block;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--size-radius);
    overflow: hidden;
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: var(--size-radius);
      transition: box-shadow 200ms ease-out;
      box-shadow: inset 0 0 0 0 var(--color-key);
      pointer-events: none;
    }
    &:hover {
      &:after {
        will-change: box-shadow;
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
    &:active {
      will-change: transform;
      transform: scale(.99);
      &:after {
        will-change: box-shadow;
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
    &:focus {
      &:after {
        box-shadow: inset 0 0 0 3px var(--color-key);
      }
    }
  }
  &__image {
    background: #ccc;
    aspect-ratio: 28/16;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      user-select: none;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      svg {
        display: block;
        width: 48px;
        height: 48px;
        color: var(--color-fill);
        stroke-width: .5px;
        opacity: .25;
      }
    }
  }
  &__body {
    padding: 20px;
  }
  &__date {
    font-family: var(--font-eng);
    font-size: 10px;
    color: var(--color-low-fill);
    line-height: 1.15;
    user-select: none;
    opacity: .5;
  }
  &__title {
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-fill);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.15px;
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
    margin-top: 4px;
    font-size: 12px;
    color: #525252;
    white-space: nowrap;
  }
  @include mixins.responsive(tablet) {
    &__body {
      p {
        max-height: none;
        height: var(--height);
      }
    }
  }
  @include mixins.dark-mode() {
    &__wrap {
      background: var(--color-shape);
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    }
    &__image {
      background: #333;
    }
    &__body {
      p {
        color: #999;
      }
    }
  }
}

// paginate
.paginate {
  --size-item: 40px;
  --size-active-inner: 1px;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 2px;
  > * {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-item);
    height: var(--size-item);
  }
  > a,
  > strong {
    position: relative;
    font-size: 14px;
    font-family: var(--font-eng);
    letter-spacing: -.25px;
    font-weight: 400;
  }
  > a {
    cursor: pointer;
    color: var(--color-fill);
    transition: opacity 200ms ease-out;
    -webkit-tap-highlight-color: transparent;
    @include mixins.focus(-1px);
  }
  > strong {
    position: relative;
    color: var(--color-invert);
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: var(--size-active-inner);
      right: var(--size-active-inner);
      top: var(--size-active-inner);
      bottom: var(--size-active-inner);
      z-index: -1;
      background: var(--color-key);
      border-radius: 2px;
    }
  }
  > a[title=Prev],
  > a[title=Next] {
    svg {
      display: block;
    }
  }
  &:hover > a:not(:hover) {
    opacity: .5;
  }
  &--mobile {
    display: flex;
  }
  &--desktop {
    display: none;
  }
  @include mixins.responsive(desktop) {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: flex;
    }
  }
  @include mixins.dark-mode() {
    > strong {
      color: var(--color-fill);
    }
  }
}
