@use './mixin';
@import './normalize';

:root {
  // color
  --color-bg: hsl(210 25% 98%);
  --color-base: hsl(0 0% 13%);
  --color-weak: hsl(0 0% 40%);
  --color-key: hsl(350 70% 41%);
  --color-invert: hsl(0 0% 100%);
  --color-danger: hsl(4 80% 44%);
  --color-shape: hsl(0 0% 80%);
  // size
  --size-text-base: 16px;
  // font
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: 'ortsa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include mixin.dark-mode(true) {
    color-scheme: dark;
    --color-bg: hsl(0 0% 13%);
    --color-base: hsl(0 0% 94%);
    --color-weak: hsl(0 0% 60%);
    --color-key: hsl(148 73% 39%);
    --color-invert: hsl(0 0% 0%);
  }
}

html, body {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
html {
  touch-action: manipulation;
  word-break: keep-all;
}
body {
  margin: 0;
  min-width: 320px;
  font-size: var(--size-text-base);
  background: var(--color-bg);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  color: var(--color-base);
}
a {
  cursor: pointer;
  color: var(--color-key);
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background: var(--color-key);
  color: #fff;
}

// contents
html.mode-modal {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}
