@use '../../assets/scss/mixin';

.authorization {
  position: relative;
  height: 100%;
  padding: 0;
  background: var(--color-bg);
  box-sizing: border-box;
  overflow: auto;
  display: grid;
  place-content: center;
  &__header {
    text-align: center;
    user-select: none;
    h1 {
      margin: 0;
      font-size: 28px;
      font-weight: 800;
      letter-spacing: -.5px;
      line-height: 1.15;
    }
    p {
      margin: 4px 0 0;
      font-size: 13px;
      line-height: 1.25;
      color: var(--color-weak);
    }
  }
  &__form {
    margin: 32px 0 0;
    width: calc(100vw - 64px);
    max-width: 320px;
    fieldset {
      display: grid;
      gap: 24px;
      margin: 0;
      padding: 0;
      border: none;
      > legend {
        font-size: 0;
        position: absolute;
      }
    }
  }
  &__nav {
    margin: 36px 0 0;
    display: grid;
    gap: 8px;
  }
  @include mixin.responsive(tablet) {
    width: 75vw;
    max-width: 480px;
    padding: 72px 0;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 hsl(0 0% 0% / 20%), 0 0 0 1px hsl(0 0% 0% / 15%);
    &__header {
      h1 {
        font-size: 36px;
      }
    }
    &__form {
      max-width: 300px;
      margin-top: 42px;
    }
    &__nav {
      margin-top: 36px;
      gap: 10px;
      button {
        height: 44px;
      }
    }
  }
}

.field {
  &__label {
    margin: 0;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 600;
  }
  &__body {
    margin: 8px 0 0;
  }
  @include mixin.responsive(tablet) {
    &__label {
      font-size: 15px;
    }
    &__body {
      .form-text {
        height: 44px;
      }
    }
  }
}
