@use '../../../../../assets/scss/mixin';

.import-data {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  box-sizing: border-box;
  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 48px;
    background-color: #909090;
    h1 {
      margin: 0;
      padding: 0 0 0 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.25;
      color: #fff;
    }
    button {
      display: block;
      width: 48px;
      height: 48px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border-radius: 0;
      background: none;
      border: none;
      --icon-color: #fff;

      @include mixin.button-extends();
      @include mixin.mouse-event(active) {
        opacity: .5;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__bottom {
    margin: 40px 0 0;
    display: grid;
    place-content: center;
  }
  @include mixin.responsive(tablet) {
    width: 540px;
    height: 380px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 2px 16px hsl(0 0% 0% / 25%);
  }
}
