@use '../../assets/scss/mixin';

.authorization-wrap {
  @include mixin.responsive(tablet) {
    display: grid;
    place-content: center;
    @include mixin.dark-mode() {
      background-color: hsl(0 0% 10%);
    }
  }
}
