@use '../assets/scss/mixin';

.index {
  margin: 30px 0 72px;
  &__title {
    position: absolute;
    margin: 0;
    font-size: 0;
  }
  &__body {}
  &__items {
    display: grid;
    gap: var(--index-items-gap, 24px);
    grid-template-columns: repeat(var(--index-items-column, 1), 1fr);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  &__paginate {
    margin: 42px 0 0;
  }
  @include mixin.responsive(mobile-large) {
    --index-items-column: 2;
  }
  @include mixin.responsive(tablet) {
    --index-items-column: 3;
    --index-items-gap: 30px;
    margin: 40px 0 82px;
  }
  @include mixin.responsive(desktop) {
    --index-items-column: 4;
  }
}
