@use '../assets/scss/mixins';

.viewport {
  padding: 0 30px;
  ::selection {
    background: var(--color-key);
    color: #fff;
  }
  @include mixins.responsive(tablet) {
    padding: 0 60px;
  }
}

// header
.header {
  padding: 24px 0 0;
  text-align: center;
  &__logo {
    display: grid;
    place-content: center;
    margin: 0;
    a {
      position: relative;
      display: block;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
    img {
      display: block;
      width: 54px;
      user-select: none;
      transition: filter 300ms ease-out;
    }
    a:focus,
    a:hover,
    a:active {
      img {
        will-change: filter;
        filter: invert(1);
      }
    }
  }
  &__nav {
    --size-middle-padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      &:hover > li:not(:hover) > a {
        opacity: .5;
      }
    }
    li {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-family: var(--font-eng);
      font-weight: 600;
      &:nth-child(n+2) {
        margin-left: var(--size-middle-padding);
        &:before {
          content: '/';
          display: block;
          margin-right: var(--size-middle-padding);
          opacity: .5;
        }
      }
    }
    a {
      display: block;
      padding: 4px 8px;
      cursor: pointer;
      user-select: none;
      transition: opacity 200ms ease-out;
      color: var(--color-fill);
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      &.router-link-exact-active {
        color: var(--color-key);
        cursor: default;
      }
    }
  }
  @include mixins.responsive(tablet) {
    padding-top: 40px;
    &__logo {
      img {
        width: 80px;
      }
    }
    &__nav {
      --size-middle-padding: 8px;
      margin-top: 16px;
    }
  }
}

// footer
.footer {
  padding: 0 0 8px;
  text-align: center;
  &__copyright {
    user-select: none;
    font-family: var(--font-eng);
    font-size: 11px;
    letter-spacing: -.25px;
    color: var(--color-weak);
  }
  @include mixins.responsive(tablet) {
    padding-bottom: 24px;
  }
}
