@use '../assets/scss/mixins';

.slideshow {
  --speed-button-active: 200ms;
  --speed-slide-animation: 1000ms;
  --speed-content-toggle: 300ms;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  display: grid;
  align-items: stretch;
}
