@use '../../../../assets/scss/mixin';

.navigation {
  display: flex;
  gap: 1px;
  &__item {
    > button {
      display: block;
      width: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      background-color: hsl(0 0% 0% /40%);
      border: none;
      font-size: 0;
      transition: background-color var(--speed-button-active) ease-out;
      border-radius: 1px;
      @include mixin.button-extends();
      --icon-color: var(--color-invert);
      --icon-stroke: 1.5;
      --icon-size: 22px;
      &:active,
      &.on {
        background-color: hsl(0 0% 0% / 70%);
      }
      &.active {
        background-color: var(--color-key);
      }
      > svg {
        display: block;
        margin: 0 auto;
        &[aria-labelledby=settings],
        &[aria-labelledby=folder] {
          --icon-size: 20px;
        }
      }
    }
  }
  // TODO: 클래스 이름 조정 필요하다.
  .slideshow--hover & {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--speed-content-toggle) ease-out;
  }
  .slideshow--hover:hover & {
    opacity: unset;
    pointer-events: unset;
  }
  @include mixin.dark-mode() {
    &__item {
      > button {
        background: rgba(17,17,17,.4);
        --icon-color: var(--color-base);
        &:active,
        &.on {
          background-color: rgba(17,17,17,.8);
        }
        &.active {
          background-color: var(--color-key);
        }
      }
    }
  }
}
.navigation-context {
  position: relative;
  user-select: none;
  ul {
    position: absolute;
    right: 0;
    top: 1px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 160px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.7);
    border-radius: 1px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--speed-button-active) ease-out;
  }
  li {
    &:nth-child(n+2) {
      border-top: 1px solid rgba(255,255,255,.1);
    }
  }
  button {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    border: none;
    text-align: left;
    background-color: rgba(255,255,255,0);
    color: var(--color-invert);
    font-size: 13px;
    outline: none;
    transition: background-color var(--speed-button-active) ease-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &.on,
    &:active {
      background-color: rgba(0,0,0,.2);
    }
    &.active {
      color: var(--color-key);
    }
    &.danger {
      color: var(--color-danger);
    }
  }
  &--on {
    ul {
      pointer-events: auto;
      opacity: 1;
    }
  }
  @include mixin.dark-mode() {
    ul {
      background-color: rgba(17,17,17,.7);
    }
    li {
      &:nth-child(n+2) {
        border-top: 1px solid rgba(255,255,255,.05);
      }
    }
    button {
      color: var(--color-base);
      background-color: rgba(0,0,0,0);
      &.on,
      &:active {
        background-color: rgba(0,0,0,.2);
      }
      &.active {
        color: var(--color-key);
      }
      &.danger {
        color: var(--color-danger);
      }
    }
  }
}
